@font-face {
  font-family: "iconfont"; /* Project id 2652429 */
  src: url('iconfont.woff2?t=1625479038816') format('woff2'),
       url('iconfont.woff?t=1625479038816') format('woff'),
       url('iconfont.ttf?t=1625479038816') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantouarrow499:before {
  content: "\e6a5";
}

.icon-wo:before {
  content: "\e663";
}

.icon-down:before {
  content: "\e644";
}

.icon-up:before {
  content: "\e645";
}

.icon-dizhi:before {
  content: "\e60c";
}

.icon-xiazai:before {
  content: "\e612";
}

.icon-yuechi:before {
  content: "\e602";
}

.icon-xiajiang:before {
  content: "\e606";
}

.icon-dunpai:before {
  content: "\e775";
}

.icon-shezhi:before {
  content: "\e603";
}

.icon-12:before {
  content: "\e619";
}

.icon-hetong8:before {
  content: "\e676";
}

.icon-kuandai:before {
  content: "\e71d";
}

.icon-credentials_icon:before {
  content: "\e674";
}

.icon-tubiaolunkuo-:before {
  content: "\e605";
}

.icon-duohangwenben:before {
  content: "\e668";
}

.icon-chanpin:before {
  content: "\e6c7";
}

.icon-hetong:before {
  content: "\e617";
}

